$body-bg-color: rgb(245,248,250);
$block-line-color: #e6ecf0;
$nav-active-color: #0084B4;

// 公共
ul.list-no-style {
  list-style: none;
  overflow: hidden;
  padding: 0;

  li {
    list-style: none;
    float: left;
    margin: 5px 15px 5px 0;

    a {
      display: block;
    }
  }
}

// 导航条的默认高度
$nav-bar-height: 50px;

body {
  padding-top: $nav-bar-height + 5px;
  background-color: $body-bg-color;
}

.topbar {
  border-bottom: 1px solid $block-line-color;
  font-size: 18px;
  background-color: #fff;

  // padding: 0 15px;

  .nav-logo {
    display: block;
    margin-top: -8px;
  }

  .nav-active {
    border-bottom: 3px solid $nav-active-color;
  }

  .user-bar .user-bar-nav{
    display: none;
    width: 130px;
  }
  .user-bar:hover .user-bar-nav {
    display: block;
    position: absolute;
    z-index: 1000;
  }
}

// 标签导航云
.label-nav, .label-nav li {
  list-style: none;
}
.label-nav a {
  
  display: block;
  float: left;
  margin: 5px 10px 5px 0px;
  color: #e6ecf0;
  border-radius: 5%;
  background-color: lighten($nav-active-color,5%);

  &:hover {
    color: #fff;
    background-color: lighten($nav-active-color,10%);
  }
}

.site-slogan {
  margin-top: 10px;
}

// 中间列表
.note-list {
  margin: 15px 0;
}

.main-body {
  min-height: 500px;
}

// 侧边栏
.side-bar-label {
  a {
    background-color: $nav-active-color;
    color: #e6ecf0;
    padding: 4px 5px;
    border-radius: 5px;
    text-decoration: none;

    &:hover {
      color: #fff;
      background-color: lighten($nav-active-color, 5%);
    }
  }
}

// 网站底部
.footer {
  text-align: center;
  border-top: 1px solid $block-line-color;
}

// 公共样式库
.main-area {
  padding: 5px 15px;
}

// 富文本编辑器的css样式
.wmd-editor {
  // border-radius: 5px;

  // border: 1px solid #999999;
}
.wmd-panel
{
	// margin-left: 25%;
	// margin-right: 25%;
	// width: 50%;
	// min-width: 500px;
}

.wmd-button-bar 
{
	width: 100%;
	background-color: Silver; 
}

.wmd-input 
{ 
	min-height: 300px;
	width: 100%;
	// background-color: Gainsboro;
	border: 1px solid DarkGray;
}

.wmd-preview 
{ 
	background-color:rgb(246,246,246); 
  // margin-top: 35px;
  border: 1px solid darkcyan;
  height: 300px;
  overflow: scroll;
}

.wmd-button-row 
{
	position: relative; 
	margin-left: 15px;
	margin-right: 5px;
	margin-bottom: 2px;
	margin-top: 10px;
	padding: 0px;  
	height: 20px;
}

.wmd-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(/img/editor-bar.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}




.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

.lb-link {
  background-color: lighten(lightblue, 18%);
  color: #999;
}
